.navbar {
    
    background-color: rgba(20, 1, 1, 0.08);

    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
   
    position: sticky;
    top: 0;
    z-index: 1000;

    
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
}


.navbar .nav-left a,
.navbar .nav-right a,
.navbar .center span {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.nav-left {
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.8s;
}

.center {
    cursor: pointer;
    transition: 0.8s;
    color: aliceblue;
    display: flex;
    
    align-items: center;
    
    gap: 10px;
    
}


.logo {
    height: 40px;
    
    width: 40px;
    
    border-radius: 50%;
    
    object-fit: cover;
}

.navbar a:hover {
    color: rgb(121, 111, 111);
}

.center:hover {
    color: rgb(121, 111, 111);
}